@import "normalize.scss";
@import "layout.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body{
	background: #3F4453 url('../img/bg.jpg') 50% no-repeat;
	background-size: cover;
	font: 400 16px/1.5 "Lato", sans-serif;
}



/* Layout */
.ba-container{
	padding: 40px 20px 20px;
	max-width: 1008px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	border-radius: 2px;
	background-color:  #13e28d;
	width: 164px;
	height: 55px;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	opacity: .7;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-tabs{
	margin: 0 auto;
	background-color:  #212534;
	box-shadow: 0px 23px 57px 0px rgba(0, 0, 0, 0.4);
	max-width: 600px;
}

.ba-title{
	color:  #b7bacd;
	font-size: 16px;
	font-weight: 400;
	background-color:  #2b3040;
	width: 600px;
	height: 115px;
	padding-top: 10px;
	&:hover &:after{
	content: "";
	display: block;
	background-color: #fff;
	height: 2px;
	}
	li{
	display: inline-block;
	list-style: none;
	margin-right: 70px;
	text-align: center;
	cursor: pointer;
	h4{
	margin-top: 10px;
	}
	}

}

.ba-active{
	color:  #fbfbfb;
	font-size: 16px;
	font-weight: 400;
	display: block;
}

.ba-information{
	padding: 50px 41px 63px;
	display: block;
}

.ba-content{
	h3{
	color:  #ffffff;
	font-size: 32px;
	font-weight: 400;
	margin: 0;
	}
	&__release{
	color:  #fdfdfd;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 40px;
	}
	&__description{
	color:  #b7bacd;
	font-size: 14px;
	font-weight: 400;
	}
	&__sale{
	color:  #fedd3f;
	font-size: 12px;
	font-weight: 700;
	margin: 0;
	}
	&__price{
	color:  #ffffff;
	font-size: 32px;
	font-weight: 400;
	margin-top: 0;
	}
}

.ba-ratings{
	display: none;
	color:  #b7bacd;
	font-size: 14px;
	font-weight: 400;
	padding: 50px 41px 63px;
}
.ba-buy{
	display: none;
	color:  #b7bacd;
	font-size: 14px;
	font-weight: 400;
	padding: 50px 41px;
}
